.toggle-group {
    display: flex;
    flex-direction: column;

    .toggle {
        display: flex;
        flex-direction: row-reverse;
        padding: 5px;
        width: 100%;
        
        mat-slide-toggle {
            margin-right: 20px;
        }

        span {
            width: 100%;
            text-align: left;
            font-size: 1em;
        }
    }
}

h5 {
    margin: 0;
    margin-bottom: 15px;
}

.text-light {
    color: rgba(#000, 0.45);
}