<!-- <div class="page-body"> -->
  <ul>
    <li [routerLink]="['edit']"> <i class="fa fa-user-o"></i> <span>My Profile</span></li>
    <li [routerLink]="['notifications']"> <i class="fa fa-bell-o"></i> <span>Notification Preferences</span></li>
    <li [routerLink]="['marketing']"> <i class="fa fa-envelope-o"></i> <span>Marketing Preferences</span></li>
    <li [routerLink]="['test']"> <i class="fa fa-envelope-o"></i> <span>Test</span></li>
    <li (click)="logout()"> <i class="fa fa-sign-out"></i> <span>Logout</span></li>
  </ul>
<!-- </div> -->