<div class="page">
  <div class="login">
    <img class="brand-image" [src]="client?.clientTheme?.logoPath" />

    <span class="login-title">Sign In</span>

    <form (submit)="login()">

      <input type="text" name="email" [(ngModel)]="email" placeholder="Email Address">
      <input type="password" name="password" [(ngModel)]="password" placeholder="Password">

      <button type="submit" class="login-btn">LOG IN</button>
      
      <hr>

      <button type="button" class="login-btn login-btn-google" (click)="loginWithGoogle()"> <i class="fa fa-google btn-icon"></i> SIGN IN WITH GOOGLE</button>

    </form>

  </div>
