app-signin {
  height: 100%;
}

.page {
  width: 100%;
  height: 100%;
  background-color: var(--td-login-background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  text-align: center !important;
}

.login {
  display: flex;
  flex-direction: column;
  max-width: 330px; 
  margin: auto;

  .brand-image {
    background-color: var(--td-logo-background);
    margin-bottom: 20px;
    display: block;
    height: auto;
    width: 100%;
  }

  .login-title {
    font-size: 1.1em;
    text-align: center;
    margin-bottom: 20px;
    color: var(--td-login-text);
  }

  form {

    $radius: 5px;
    
    input {
      
      &:first-of-type {
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
      }
      
      &:last-of-type {
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
        border-top: none;
      }

      width: 100%;
      font-size: 1em;
      padding: 1rem;
      padding-left: 20px;
      border: solid 1px #dedede;
      font-weight: 400;
      margin: 0;
      
      &:focus {
        color: #495057;
        background-color: #fff;
        border: 1px solid var(--td-primary);
        outline: 0;
      }
    }
    
    button {
      margin: 10px 0px;
      padding: 1.1rem;
      font-size: .8em;
      border: none;
      width: 100%;
      border-radius: $radius;
      text-transform: capitalize;
      font-weight: 700;
      letter-spacing: .1em;

      &:focus {
        outline: 0;
      }
      
      &:hover {
        filter: brightness(85%);
        cursor: pointer;
      }

      &.login-btn-google {
        background-color: #ea4335;
        color: #fff;
      }

      .btn-icon {
        margin-right: 20px;
      }
    }

    hr {
      border: 0;
      border-top: 1px solid #e3e3e3;
    }
  }


}