<div class="page">
  <div class="login">

    <span class="login-title"> <i class="fa fa-lock"></i> &nbsp; Please enter your details to create an account</span>

    <form (submit)="register()">

      <mat-form-field class="full-width">
        <input type="text" matInput placeholder="First Name" name="firstName" [(ngModel)]="reg.firstName" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input type="text" matInput placeholder="Last Name" name="lastName" [(ngModel)]="reg.lastName" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input type="email" matInput placeholder="Email" name="emailAddress" [(ngModel)]="reg.emailAddress" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="reg.password" required>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input type="password" matInput placeholder="Confirm Password" name="confirmPassword" [(ngModel)]="confirmPassword" required>
      </mat-form-field>


      <mat-checkbox [(ngModel)]="reg.aggreedToTerms" name="agreedToTerms">I Agree to the Terms & Conditions</mat-checkbox>


      <br>
      <br>

      <button type="submit" class="login-btn btn-client">Register</button>


      <p>
        <small>
          We always treat your data with respect, to learn more please read our <span class="privacy-link" (click)="privacy()">privacy
            notice</span>.
        </small>
      </p>

    </form>

  </div>