.profile-page {

    // display: flex;
    width: 100%;

    .profile-banner {
        width: 100%;
        min-height: 150px;
        max-height: 300px;
        height: 100%;
        position: relative;
        text-align: center;
        background-color: var(--td-primary);
        z-index: -1;
        
        img {
            width: 100%;
            max-height: 300px;
        }

        .profile-title {
            font-size: 1.5em;
            z-index: 999;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
        }
    }

    .profile-body {
        margin: 20px;
    }
}
