.reg-input {
    margin-bottom: 5px!important;
    padding: 10px;
    height: 60px;
    font-size: 50px;
    color: #000;
    text-align: center;
    width: 100%;
    max-width: 400px;
    line-height: 44px;
    background-color: #f2cf53;
    border: 1px solid #a9a9a9;
    border-radius: 10px;
    font-weight: 700;
    text-transform: uppercase;
}

.reg-search {
    min-height: 60px;
}

.title {
    font-size: 1.2em;
    color: var(--td-default-font-color);
    text-align: left;
}

.title-sub {
    color: var(--td-default-font-color);
    filter: brightness(80%);
    text-align: left;
}

.search-container {
    display: flex;

    button {
        margin-left: 10px;
    }
}

.buttons {
    margin-top: 30px;
    display: flex;
    
    span {
        flex-grow: 1;
        color: var(--td-contrast-font-color);  
        font-weight: 600;
        font-size: 20px;
        cursor: pointer;     
    }

    .button-right {
        text-align: right;
    }
}

.vehicle-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    text-align: left;

    .label {
        padding: 5px;
        color: var(--td-default-font-color);
        filter: brightness(80%);
    }
    
    .value {
        padding: 5px;
        color: var(--td-default-font-color);
        font-size: 1.1em;
    }
}

.td-alert {
    background-color: #fff;
    color: var(--td-primary);
    border: 1px solid var(--td-primary);
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
}
