.reg-input {
    // margin-bottom: 5px!important;
    // padding: 10px;
    height: 60px;
    font-size: 45px;
    color: #000;
    text-align: center;
    width: 100%;
    max-width: 400px;
    line-height: 44px;
    background-color: #f2cf53;
    border: 1px solid #a9a9a9;
    border-radius: 10px;
    font-weight: 700;
    text-transform: uppercase;
    outline: none;
}

.reg-search {
    min-height: 60px;
}

.title {
    font-size: 1em;
    color: var(--td-default-font-color);
    text-align: left;
    margin: 0;
}

.title-sub {
    color: rgba(#000, 0.45);
    text-align: left;
    font-size: 0.8em;
}

// .search-container {
//     display: flex;

//     button {
//         margin-left: 10px;
//     }
// }

.buttons {
    margin-top: 30px;
    display: flex;
    
    span {
        flex-grow: 1;
        color: var(--td-contrast-font-color);  
        font-weight: 600;
        font-size: 20px;
        cursor: pointer;     
    }

    .button-right {
        text-align: right;
    }
}

.vehicle-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    text-align: left;

    .label {
        padding: 5px;
        color: var(--td-primary);
        font-weight: bold;
        
    }
    
    .value {
        padding: 5px;
        color: var(--td-secondary);
        font-size: 1.2em;
        font-weight: bold;
    }
}

.td-alert {
    background-color: #fff;
    color: var(--td-primary);
    border: 1px solid var(--td-primary);
    border-radius: 5px;
    padding: 15px;
    margin-top: 20px;
}

.reg {
    margin-right: 10px;
    padding: 5px;
    font-size: 15px;
    color: #000;
    text-align: center;
    max-width: 100px;
    background-color: #f2cf53;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    font-weight: 900;
    text-transform: uppercase;
    max-height: 34px;
}

.button-container {
    display: flex;
    flex-direction: row-reverse;
}