<div class="page-body">
  <p>Please confirm that you wish to delete your profile.</p>
  
  <p>Once your profile has beenn deleted, it cannot be recovered. It will be permanently removed from our systems.</p>
  
  <p>
    <small>
      We always treat your data with respect, to learn more please read our <span class="privacy-link" (click)="privacy()">privacy
        notice</span>.
      </small>
    </p>
    
    <button class="btn btn-danger btn-block" (click)="delete()"> <i class="fa fa-trash"></i> Yes, delete my profile</button>
    <button class="btn btn-default btn-block" (click)="backToProfile()"> <i class="fa fa-arrow-left"></i> No, take me back to my profile</button>
  </div>