.privacy-link {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.button-container {
    display: flex;
    flex-direction: column;
        button {
            margin-bottom: 15px;
        }
}