<page-header title="Edit My Profile"></page-header>
<div class="page-body" *ngIf="profile">
  <form>

    <mat-form-field class="full-width">
      <input type="email" matInput class="form-control" name="email" placeholder="Email" [(ngModel)]="profile.emailAddress"
        [disabled]="profile.providerName != 'TechDevs'">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput type="email" disabled class="form-control" name="providerName" placeholder="Logged In With"
        [(ngModel)]="profile.providerName">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput type="text" class="form-control" name="firstName" placeholder="First Name" [(ngModel)]="profile.firstName">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput type="text" class="form-control" name="lastName" placeholder="Last Name" [(ngModel)]="profile.lastName">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput type="tel" class="form-control" name="contactNumber" placeholder="Contact Number" [(ngModel)]="profile.contactNumber">
    </mat-form-field>

    <button mat-stroked-button color="primary" class="button button-primary" (click)="save()">Save Changes</button>
    
    
    <p>
      <small>
        We always treat your data with respect, to learn more please read our <span class="privacy-link" (click)="privacy()">privacy
          notice</span>.
        </small>
      </p>
      
      <p>
        <small>
          If you wish to delete your account, <span class="privacy-link" (click)="deleteProfile()">click here</span>.
          </small>
      </p>

  </form>

</div>