.toggle-group {
    display: flex;
    flex-direction: column;

    .toggle {
        display: flex;
        flex-direction: row;
        flex-grow: 1;
        padding: 5px;

        span {
            width: 100%;
            text-align: right;
            font-size: 1em;
        }
    }
}

h5 {
    margin: 0;
    margin-bottom: 15px;
}