.reg-input {
    margin-bottom: 5px!important;
    padding: 10px;
    height: 60px;
    font-size: 50px;
    color: #000;
    text-align: center;
    width: 100%;
    max-width: 400px;
    line-height: 44px;
    background-color: #f2cf53;
    border: 1px solid #a9a9a9;
    border-radius: 10px;
    font-weight: 700;
    text-transform: capitalize;
}

.reg-search {
    min-height: 60px;
}