/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap-grid.css";
@import "~font-awesome/css/font-awesome.css";
// @import "./assets/styles/bootstrap-dynamic.css";
// @import "./assets/styles/mini.css";

@import url('https://fonts.googleapis.com/css?family=Roboto');


app-root {
    height: 100%;
  }
  body {
    height: 100%;
    margin: 0 !important;
  }
  html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
  }


  :root {
    --td-primary: #fff;
    --td-logo-background: transparent;
  }
  
