.profile-menu {
    display: flex;
    flex-wrap: wrap;
    color: #222;
    font-weight: 700;

    .profile-menu-item {
        width: 200px;
        height: 200px;
        margin: 10px;
        border: 1px solid black;

        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;

        cursor: pointer;
    }
}